@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');

:root {
  --purple: 94, 3, 159;
  --white-low: hsla(0, 0%, 100%, 0.8);
  --bright-purple: 173, 63, 252;
}

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #101010;
}

a {
  text-decoration: none;
}

.app {
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 100vh;
}

.app-title {
  color: rgb(var(--purple));
  font-size: 3.5rem;
  padding-top: 1.5rem;
  text-transform: uppercase;
  text-shadow: 0px 2px rgb(var(--bright-purple));
}
